<p><%= @board.company_name %></p>
<p><%= @board.vendor_based_in %></p>
<p><%= @board.vendor_based_in_other %></p>
<p><%= @board.main_address_street %></p>
<p><%= @board.main_address_unit %></p>
<p><%= @board.main_address_city %></p>
<p><%= @board.main_address_state %></p>
<p><%= @board.main_address_zip %></p>
<p><%= @board.main_address_country %></p>
<p><%= @board.primary_business_name %></p>
<p><%= @board.primary_business_phone %></p>
<p><%= @board.primary_business_email %></p>
<p><%= @board.primary_business_fax %></p>
<p><%= @board.finance_name %></p>
<p><%= @board.finance_phone %></p>
<p><%= @board.finance_email %></p>
<p><%= @board.finance_fax %></p>
<p><%= @board.purchase_orders_name %></p>
<p><%= @board.purchase_orders_phone %></p>
<p><%= @board.purchase_orders_email %></p>
<p><%= @board.purchase_orders_fax %></p>
<p><%= @board.inventory_name %></p>
<p><%= @board.inventory_phone %></p>
<p><%= @board.inventory_email %></p>
<p><%= @board.inventory_fax %></p>
<p><%= @board.returns_phone %></p>
<p><%= @board.returns_email %></p>
<p><%= @board.returns_fax %></p>
<p><%= @board.product_information_name %></p>
<p><%= @board.product_information_phone %></p>
<p><%= @board.product_information_email %></p>
<p><%= @board.product_information_fax %></p>
<p><%= @board.customer_service_name %></p>
<p><%= @board.customer_service_phone %></p>
<p><%= @board.customer_service_email %></p>
<p><%= @board.customer_service_fax %></p>
<p><%= @board.inventory_integration_method %></p>
<p><%= @board.integrations_contact_name %></p>
<p><%= @board.integrations_contact_phone %></p>
<p><%= @board.integrations_contact_email %></p>
<p><%= @board.integrations_contact_fax %></p>
<p><%= @board.upc_marketing %></p>
<p><%= @board.upc_ticketing_contact_name %></p>
<p><%= @board.upc_ticketing_contact_phone %></p>
<p><%= @board.upc_ticketing_contact_email %></p>
<p><%= @board.upc_ticketing_contact_fax %></p>
<p><%= @board.returns_contact_name %></p>
<div>
  <p></p>
  <%# @board.companies.each do |company| %>
      <p> <%#= company.title %></p>
  <%# end %>
</div>
<p>Consented: true </p>


Thank you!!!

<!--t.string   "returns_contact_phone"-->
<!--t.string   "returns_contact_email"-->
<!--t.string   "returns_contact_fax"-->
<!--t.string   "returns_address_street"-->
<!--t.string   "returns_address_unit"-->
<!--t.string   "returns_address_city"-->
<!--t.string   "returns_address_state"-->
<!--t.string   "returns_address_zip"-->
<!--t.string   "returns_address_country"-->
<!--t.string   "preferred_shipping_method"-->
<!--t.text     "protocol_for_freight_shipments"-->
<!--t.string   "multiple_warehouses"-->
<!--t.string   "shipping_from_multiple_warehouses"-->
<!--t.string   "transportation_and_shipment_section"-->
<!--t.string   "ship_alone_items"-->
<!--t.string   "average_inventory_levels"-->
<!--t.string   "typical_shipping_lead_time_count"-->
<!--t.string   "typical_shipping_lead_time_day"-->
<!--t.string   "average_inventory_replenishment_time_count"-->
<!--t.string   "average_inventory_replenishment_time_day"-->
<!--t.string   "average_inventory_replenishment_time_other"-->
<!--t.string   "method"-->
<!--t.string   "method_other"-->
<!--t.string   "frequency"-->
<!--t.string   "frequency_other"-->
<!--t.string   "credit_card"-->
<!--t.string   "wire_transfer"-->
<!--t.string   "ach"-->
<!--t.string   "check_by_mail"-->
<!--t.string   "pay_pal"-->
<!--t.string   "bitcoin"-->
<!--t.string   "costs_fees"-->
<!--t.string   "if_so_costs_fees"-->
<!--t.string   "requirements_for_purchase_orders"-->
<!--t.string   "if_yes_requirements_for_purchase_orders"-->
<!--t.text     "imap_pricing"-->
<!--t.string   "return_policy"-->
<!--t.text     "merchandising"-->