<p><%= @board.company_name %></p>
<p><%= @board.vendor_based_in %></p>
<p><%= @board.vendor_based_in_other %></p>
<p><%= @board.main_address_street %></p>
<p><%= @board.main_address_unit %></p>
<p><%= @board.main_address_city %></p>
<p><%= @board.main_address_state %></p>
<p><%= @board.main_address_zip %></p>
<p><%= @board.main_address_country %></p>
<p><%= @board.primary_business_name %></p>
<p><%= @board.primary_business_phone %></p>
<p><%= @board.primary_business_email %></p>
<p><%= @board.primary_business_fax %></p>
<p><%= @board.finance_name %></p>
<p><%= @board.finance_phone %></p>
<p><%= @board.finance_email %></p>
<p><%= @board.finance_fax %></p>
<p><%= @board.purchase_orders_name %></p>
<p><%= @board.purchase_orders_phone %></p>
<p><%= @board.purchase_orders_email %></p>
<p><%= @board.purchase_orders_fax %></p>
<p><%= @board.inventory_name %></p>
<p><%= @board.inventory_phone %></p>
<p><%= @board.inventory_email %></p>
<p><%= @board.inventory_fax %></p>
<p><%= @board.returns_phone %></p>
<p><%= @board.returns_email %></p>
<p><%= @board.returns_fax %></p>
<p><%= @board.product_information_name %></p>
<p><%= @board.product_information_phone %></p>
<p><%= @board.product_information_email %></p>
<p><%= @board.product_information_fax %></p>
<p><%= @board.customer_service_name %></p>
<p><%= @board.customer_service_phone %></p>
<p><%= @board.customer_service_email %></p>
<p><%= @board.customer_service_fax %></p>
<p><%= @board.inventory_integration_method %></p>
<p><%= @board.integrations_contact_name %></p>
<p><%= @board.integrations_contact_phone %></p>
<p><%= @board.integrations_contact_email %></p>
<p><%= @board.integrations_contact_fax %></p>
<p><%= @board.upc_marketing %></p>
<p><%= @board.upc_ticketing_contact_name %></p>
<p><%= @board.upc_ticketing_contact_phone %></p>
<p><%= @board.upc_ticketing_contact_email %></p>
<p><%= @board.upc_ticketing_contact_fax %></p>
<p><%= @board.returns_contact_name %></p>
<p><%= @board.returns_contact_phone %></p>
<p><%= @board.returns_contact_email %></p>
<p><%= @board.returns_contact_fax %></p>
<p><%= @board.returns_address_street %></p>
<p><%= @board.returns_address_unit %></p>
<p><%= @board.returns_address_city %></p>
<p><%= @board.returns_address_state %></p>
<p><%= @board.returns_address_zip %></p>
<p><%= @board.returns_address_country %></p>
<p><%= @board.preferred_shipping_method %></p>
<p><%= @board.protocol_for_freight_shipments %></p>
<p><%= @board.multiple_warehouses %></p>
<p><%= @board.shipping_from_multiple_warehouses %></p>
<p><%= @board.transportation_and_shipment_section %></p>
<p><%= @board.ship_alone_items %></p>
<p><%= @board.average_inventory_levels %></p>
<p><%= @board.typical_shipping_lead_time_count %></p>
<p><%= @board.typical_shipping_lead_time_day %></p>
<p><%= @board.average_inventory_replenishment_time_count %></p>
<p><%= @board.average_inventory_replenishment_time_day %></p>
<p><%= @board.average_inventory_replenishment_time_other %></p>
<p><%= @board.method %></p>
<p><%= @board.method_other %></p>
<p><%= @board.frequency %></p>
<p><%= @board.frequency_other %></p>
<p><%= @board.credit_card %></p>
<p><%= @board.wire_transfer %></p>
<p><%= @board.ach %></p>
<p><%= @board.check_by_mail %></p>
<p><%= @board.pay_pal %></p>
<p><%= @board.bitcoin %></p>
<p><%= @board.costs_fees %></p>
<p><%= @board.if_so_costs_fees %></p>
<p><%= @board.requirements_for_purchase_orders %></p>
<p><%= @board.if_yes_requirements_for_purchase_orders %></p>
<p><%= @board.imap_pricing %></p>
<p><%= @board.return_policy %></p>
<p><%= @board.merchandising %></p>
<div>
  <p></p>
  <%# @board.companies.each do |company| %>
      <p> <%#= company.title %></p>
  <%# end %>
</div>
<p>Consented: true </p>


Thank you!!!