<h3>Vendor Onboarding Form</h3>
<p>Legal Business Name: <%= @board.legal_business_name %></p>
<p>Company Name/D.B.A: <%= @board.company_name %></p>
<div>
  <p>Brand Name(s):</p>
  <% @board.brands.each do |brand| %>
      <p>--- <%= brand.name %></p>
  <% end %>
</div>
<p>Vendor Location: <%= @board.vendor_based_in %></p>
<% unless @board.vendor_based_in_other.blank? %>
    <p> Other: <%= @board.vendor_based_in_other %></p>
<% end %>

<h3>Vendor Main Address</h3>

<p>Street: <%= @board.main_address_street %></p>
<p>Unit, Suite, Floor: <%= @board.main_address_unit %></p>
<p>City: <%= @board.main_address_city %></p>
<p>State: <%= @board.main_address_state %></p>
<p>Zip/Postal Code: <%= @board.main_address_zip %></p>
<p>Country: <%= @board.main_address_country %></p>

<h3>Vendor Contacts</h3>

<h5>Primary Business Representative</h5>

<p>Name: <%= @board.primary_business_name %></p>
<p>Phone: <%= @board.primary_business_phone %></p>
<p>Email: <%= @board.primary_business_email %></p>
<p>Fax: <%= @board.primary_business_fax %></p>
<p><%= @board.finance_name %></p>

<h5>Finance Representative</h5>

<p>Name: <%= @board.finance_name %></p>
<p>Phone:<%= @board.finance_phone %></p>
<p>Email: <%= @board.finance_email %></p>
<p>Fax: <%= @board.finance_fax %></p>

<% unless @board.purchase_orders_email.blank? %>
    <h5>Purchase Orders and Order Fulfillment Representative</h5>

    <p>Name: <%= @board.purchase_orders_name %></p>
    <p>Phone: <%= @board.purchase_orders_phone %></p>
    <p>Email: <%= @board.purchase_orders_email %></p>
    <p>Fax: <%= @board.purchase_orders_fax %></p>
<% end %>

<% unless @board.inventory_email.blank? %>
    <h5>Inventory Representative</h5>

    <p>Name:<%= @board.inventory_name %></p>
    <p>Phone:<%= @board.inventory_phone %></p>
    <p>Email:<%= @board.inventory_email %></p>
    <p>Fax:<%= @board.inventory_fax %></p>
<% end %>

<% unless @board.returns_email.blank? %>
    <h5>Returns Representative</h5>

    <p>Name:<%= @board.returns_name %></p>
    <p>Phone:<%= @board.returns_phone %></p>
    <p>Email:<%= @board.returns_email %></p>
    <p>Fax:<%= @board.returns_fax %></p>
<% end %>

<% unless @board.product_information_email.blank? %>
    <h5>Product Information Representative</h5>

    <p>Name:<%= @board.product_information_name %></p>
    <p>Pxone: <%= @board.product_information_phone %></p>
    <p>Email: <%= @board.product_information_email %></p>
    <p>Fax:<%= @board.product_information_fax %></p>
<% end %>

<% unless @board.customer_service_email.blank? %>
    <h5>Customer Service Representative</h5>

    <p>Name: <%= @board.customer_service_name %></p>
    <p>Phone:<%= @board.customer_service_phone %></p>
    <p>Email:<%= @board.customer_service_email %></p>
    <p>Fax:<%= @board.customer_service_fax %></p>
<% end %>

<% unless @board.contact_other_email.blank? %>
    <h5>Other</h5>

    <p>Title: <%= @board.contact_other_title %></p>
    <p>Name: <%= @board.contact_other_name %></p>
    <p>Phone:<%= @board.contact_other_phone %></p>
    <p>Email:<%= @board.contact_other_email %></p>
    <p>Fax:<%= @board.contact_other_fax %></p>
<% end %>

<h3>Inventory Integration</h3>
<p><%= @board.inventory_integration_method %></p>
<% unless @board.inventory_integration_method_other.blank? %>
    <p> Other: <%= @board.inventory_integration_method_other %></p>
<% end %>


<h5>Integrations Contact</h5>

<p>Name:<%= @board.integrations_contact_name %></p>
<p>Phone:<%= @board.integrations_contact_phone %></p>
<p>Email:<%= @board.integrations_contact_email %></p>
<p>Fax:<%= @board.integrations_contact_fax %></p>


<h3>Transportation and Shipment</h3>

<div>
  <% @board.transportation_and_shipments.each do |t| %>
      <h5>Ship From Information:</h5>

      <p>Street: <%= t.ship_from_information_street %></p>

      <p>Unit, Suite, Floor: <%= t.ship_from_information_unit %></p>

      <p>City: <%= t.ship_from_information_city %></p>

      <p>State: <%= t.ship_from_information_state %></p>

      <p>Zip/Postal Code: <%= t.ship_from_information_zip %></p>

      <p>Country: <%= t.ship_from_information_country %></p>

      <h5>Transportation Contact</h5>

      <p>Name: <%= t.transportation_contact_name %></p>

      <p>Phone: <%= t.transportation_contact_phone %></p>

      <p>Email: <%= t.transportation_contact_email %></p>

      <p>Fax: <%= t.transportation_contact_fax %></p>
  <% end %>
</div>

<h3>Returns Information</h3>

<h5>Returns Contact:</h5>

<p>Name: <%= @board.returns_contact_name %></p>
<p>Phone:<%= @board.returns_contact_phone %></p>
<p>Email: <%= @board.returns_contact_email %></p>
<p>Fax: <%= @board.returns_contact_fax %></p>

<h5>Returns Address:</h5>

<p>Street: <%= @board.returns_address_street %></p>
<p>Unit, Suite, Floor: <%= @board.returns_address_unit %></p>
<p>City: <%= @board.returns_address_city %></p>
<p>State: <%= @board.returns_address_state %></p>
<p>Zip/Postal Code: <%= @board.returns_address_zip %></p>
<p>Country: <%= @board.returns_address_country %></p>

<h3>Drop Shipping</h3>

<p>Preferred shipping method: <%= @board.preferred_shipping_method %></p>

<div>
  <h5>What are your preferred carriers?</h5>
  <% @board.vendor_carriers.each do |v| %>
      <p>- <%= v.name %></p>
  <% end %>
</div>

<p>What is your protocol for freight shipments? <%= @board.protocol_for_freight_shipments %></p>

<h3>Warehousing</h3>

<p>Do you have ship alone items? <%= @board.ship_alone_items %></p>

<div>
  <h5>Product Type(s):</h5>
  <% @board.product_types.each do |p| %>
      <p> <%= p.name %></p>
  <% end %>
</div>

<p>What are your average inventory levels? <%= @board.average_inventory_levels %></p>
<div>
  <p>What is your typical shipping lead time?</p>
  <%= @board.typical_shipping_lead_time_count %>
  <%= @board.typical_shipping_lead_time_day %>
</div>

<div>
  <p>What are your average inventory replenishment timelines?</p>
  <%= @board.average_inventory_replenishment_time_count %>
  <%= @board.average_inventory_replenishment_time_day %>
  <% unless @board.average_inventory_replenishment_time_other.blank? %>
      <p>Other: <%= @board.average_inventory_replenishment_time_other %></p>
  <% end %>
</div>

<h3>Product Details</h3>

<h5>How and when do you provide inventory updates (including discounted and new items)?</h5>

<div>
  <p>Method: <%= @board.method %></p>
  <% unless @board.method_other.blank? %>
      <p>Other: <%= @board.method_other %></p>
  <% end %>
</div>

<div>
  <p>Frequency: <%= @board.frequency %></p>
  <% unless @board.frequency_other.blank? %>
      <p>Other: <%= @board.frequency_other %></p>
  <% end %>
</div>
<p>Are there any costs/fees in addition to COGs? <%= @board.costs_fees_radio %></p>
<% unless @board.if_so_costs_fees.blank? %>
    <p>If so, how are these costs billed? <%= @board.if_so_costs_fees %></p>
<% end %>

<p>Are there any special requirements:<%= @board.requirements_for_purchase_orders %></p>
<% unless @board.if_yes_requirements_for_purchase_orders.blank? %>
    <p>If yes, please explain the requirements:  <%= @board.if_yes_requirements_for_purchase_orders %></p>
<% end %>

<% unless @board.imap_pricing.blank? %>
    <p>Please explain your discount/promotional rules in regards to IMAP pricing:<%= @board.imap_pricing %></p>
<% end %>

<p>What, if any, are your merchandising stipulations and strategy recommendations for your
  product?<%= @board.merchandising %></p>

<p>Consented: true </p>


Thank you!!!