<!--<h1>Hello <%#= @user.email %></h1>-->
<!--<div>-->
  <!--<%#= link_to "Update Onboarding Form", edit_board_path(@board_user) if @board_user %>-->
  <!--<%#= link_to "Update Vendor Form", edit_trade_path(@trade_user) if @trade_user %>-->
<!--</div>-->

<div class="home_container">
  <div class="top_block">
    <h1 class="home_subject">BECOME A VENDOR:</h1>

    <p class="home_banner">
      <span class="home_banner_span">TANDEM ARBOR</span> is an independent lifestyle e‐commerce site for highly curated
      home furnishings
      and designs catering to the higher end luxury consumer market. <span class="home_banner_span">TANDEM ARBOR</span>
      is constantly
      exploring the development of high‐end sub‐brands and exclusive arrangements with premier
      vendors, to further penetrate the market. We are able to implement amazing new technologies,
      that not only hold the hands of our customers, but truly influence the way furniture is curated,
      categorized, and most importantly purchased. <span class="home_banner_span">TANDEM ARBOR</span> is on trend and
      analytically
      proactive. Partner with us and discover what we can do for your business.
    </p>
  </div>
  <div class="step_blocks">
    <div class="step_block">
      <div class="left_block">
        <span class="step">STEP</span>

        <div class="number">
          <p>#<span>1.</span></p>
        </div>
      </div>
      <div class="content">
        <p class="content_text">
          COMPLETE THE <%= link_to 'UPDATE YOUR VENDOR APPLICATION', edit_trade_path(@trade_user), class: 'content_link' if @trade_user %>. TELL US ABOUT
          YOUR BUSINESS SO OUR STYLE EXPERTS CAN CONSIDER
          HOW TO BEST SHOWCASE YOUR PRODUCT.
        </p>
      </div>
      <div class="right_block">
        <%= link_to edit_trade_path(@trade_user) do %>
            <div class="block_center">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
        <% end %>
      </div>
    </div>

    <div class="step_block ">
      <div class="left_block">
        <span class="step">STEP</span>

        <div class="number">
          <p>#<span>2.</span></p>
        </div>
      </div>
      <div class="content">
        <p class="content_text">
          ONCE YOU ARE AN APPROVED VENDOR, YOU WILL NEED TO REVIEW AND AGREE TO
          <a href="#" class="content_link">VENDOR AGREEMENT</a> TERMS AND CONDITIONS.
        </p>
      </div>
      <div class="right_block">
        <%= link_to '#' do %>
            <div class="block_center">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
        <% end %>
      </div>
    </div>

    <div class="step_block ">
      <div class="left_block">
        <span class="step">STEP</span>

        <div class="number">
          <p>#<span>3.</span></p>
        </div>
      </div>
      <div class="content">
        <p class="content_text">
          NEXT IS <a href="#" class="content_link">VENDOR SETUP & ONBOARDING</a>. WE WILL REQUIRE SOME ADDITIONAL
          DETAILS TO REGISTER YOUR COMPANY TO ENSURE A SEAMLESS INTEGRATION.
        </p>
      </div>
      <div class="right_block">
        <%= link_to '#' do %>
            <div class="block_center">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
        <% end %>
      </div>
    </div>

    <div class="step_block ">
      <div class="left_block">
        <span class="step">STEP</span>

        <div class="number">
          <p>#<span>4.</span></p>
        </div>
      </div>
      <div class="content">
        <p class="content_text">
          FINALLY COMPLETE <a href="#" class="content_link">PRODUCT BUILDSHEET</a>. THIS WILL INCLUDE ALL OF THE
          DETAILS ABOUT EACH PRODUCT SO WE CAN MERCHANDISE IT ACCURATELY ON SITE.
        </p>
      </div>
      <div class="right_block">
        <%= link_to '#' do %>
            <div class="block_center">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <p class="contact">If you have any questions, please contact us at <a href="mailto:hello@tandemarbor.com">hello@tandemarbor.com</a></p>
</div>
