<p>Business Name/D.B.A: <%= @trade.business_name %></p>
<p>Greeting: <%= @trade.greeting %></p>
<p>First Name: <%= @trade.first_name %></p>
<p>Last Name: <%= @trade.last_name %></p>
<p>Email: <%= @trade.email %></p>
<p>Phone Number: <%= @trade.phone_number %></p>
<p>Address: <%= @trade.address %></p>
<p>Unit/Suite/etc.: <%= @trade.suite %></p>
<p>City: <%= @trade.city %></p>
<p>State: <%= @trade.state %></p>
<p>Zip Code: <%= @trade.zipcode %></p>
<p>Country: <%= @trade.country %></p>
<p>Web site url: <%= @trade.web_site_url_my %></p>
<div>
  <p>Check the options that describe your business:</p>
  <% @trade_options.each do |option| %>
      <p>--- <%= option.title %></p>
  <% end %>
</div>
<div>
  <p>What categories would you like to see on Tandem Arbor:</p>
  <% @trade_categories.each do |category| %>
      <p>--- <%= category.title %></p>
  <% end %>
</div>
<div>
  <p>What channel(s) do you currently sell through:</p>
  <% @trade_channels.each do |channel| %>
      <p>--- <%= channel.title %></p>
  <% end %>
</div>
<p>Website URL(s): <%= @trade.web_site %></p>
<p>Information: <%= @trade.information %></p>
<p>Consented: true </p>

Thank you!!!
