<div class="row">
  <div class="row">
    <div class="col-xs-12 m-t-lg m-b-lg form_container">
      <div class="b-t-md">
        <div class="col-xs-10 col-xs-offset-1 bold-title">
          <h4 class="text-center">Tandem Arbor - Vendor Application</h4>
        </div>
      </div>
    </div>
  </div>
  <%= form_for @trade do |f| %>
      <div class="row">
        <% if @trade.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@trade.errors.count, "error") %> prohibited
                this project from being saved:
              </h2>
              <ul class="<%= flash_class(:warning) %>">
                <% @trade.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <% flash.each do |key, value| %>
            <div class="text-center <%= flash_class(key) %>">
              <%= value %>
            </div>
        <% end %>
        <div class="col-lg-12 form_container">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">BUSINESS INFORMATION</h4>


            </div>
            <div class="panel-body pt0 pb0">
              <div class="form-horizontal group-border stripped" id="validate">
                <div class="form-group">
                  <%= f.label :business_name, "Business Name/D.B.A:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :business_name, :class => "form-control requires", :required => true %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :greeting, "Greeting:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.select(:greeting, ['Mr.', 'Ms.', 'Mrs.', 'Miss'], {}, {:class => "form-control requires"}) %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :first_name, "First Name:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :first_name, :class => "form-control", :required => true %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :last_name, "Last Name:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :last_name, :class => "form-control", :required => true %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :email, "Email:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.email_field :email, :class => "form-control", :required => true %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :phone_number, "Phone Number:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :phone_number, :class => "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :address, "Address:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :address, :class => "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :suite, "Unit/Suite/etc.:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :suite, :class => "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :city, "City:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-4 col-md-9">
                    <%= f.text_field :city, :class => "form-control" %>
                  </div>
                  <%= f.label :state, "State:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-4 col-md-9">
                    <%= f.text_field :state, :class => "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :zipcode, "ZIP Code:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-4 col-md-9">
                    <%= f.text_field :zipcode, :class => "form-control" %>
                  </div>
                  <%= f.label :country, "Country:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-4 col-md-9">
                    <%= f.text_field :country, :class => "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :web_site_url_my, "Website:", :class => "col-lg-2 col-md-3 control-label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :web_site_url_my, :class => "form-control" %>
                  </div>
                </div>

                <div class="form-group company_check_box">
                  <label class="col-xs-12 control-label">Check the options that describe your business: </label>
                  <% Option.order(:title).each do |option_type| %>
                      <div class="col-lg-3 col-md-6">
                        <div class="checkbox-custom">
                          <%= check_box_tag "trade[option_ids][]", option_type.id, nil, :id => "cmt_#{option_type.id}", name_option: "checkbox_option[]" %>
                          <label for="cmt_<%= option_type.id %>"><%= option_type.title.upcase %></label>
                        </div>
                      </div>
                  <% end %>
                </div>


                <div class="form-group">
                  <label class="col-xs-12 control-label">Please upload one (1) sample document with photos of at least five (5) examples of the products you would like to sell: </label>
                  <%= f.file_field :image, class: 'btn-file input_uploader' %>
                </div>

                <div class="form-group company_check_box">
                  <label class="col-xs-12 control-label">What categories would you like to see on Tandem Arbor: </label>
                  <% Category.order(:title).each do |category_type| %>
                      <div class="col-lg-3 col-md-6">
                        <div class="checkbox-custom">
                          <%= check_box_tag "trade[category_ids][]", category_type.id, nil, :id => "cmt_#{category_type.id}", name_category: "checkbox_category[]" %>
                          <label for="cmt_<%= category_type.id %>"><%= category_type.title.upcase %></label>
                        </div>
                      </div>
                  <% end %>
                </div>

                <div class="form-group company_check_box">
                  <label class="col-xs-12 control-label">What channel(s) do you currently sell through: </label>
                  <% Channel.order(:title).each do |channel_type| %>
                      <div class="col-lg-3 col-md-6">
                        <div class="checkbox-custom">
                          <%= check_box_tag "trade[channel_ids][]", channel_type.id, nil, :id => "cmt_#{channel_type.id}", name_channel: "checkbox_channel[]" %>
                          <label for="cmt_<%= channel_type.id %>"><%= channel_type.title.upcase %></label>
                        </div>
                      </div>
                  <% end %>
                </div>
                <div class="form-group">
                  <%= f.label :web_site, "Website URL(s):", :class => "col-xs-12 control-label website_urls_label" %>
                  <div class="col-lg-10 col-md-9">
                    <%= f.text_field :web_site, :class => "form-control" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 form_container">
          <!-- col-lg-12 start here -->
          <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
            <!-- Start .panel -->
            <div class="panel-heading">
              <h4 class="panel-title">Please provide any additional information here:</h4>


            </div>
            <div class="panel-body pt0 pb0">
              <div class="form-horizontal group-border stripped">
                <div class="form-group">
                  <div class="col-xs-12">
                    <%= f.text_area :information, :class => "form-control", rows: "10" %>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .panel -->
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 form_container">
            <div class="panel panel-default toggle panelMove panelClose panelRefresh" id="dyn_0">
              <div class="panel-heading">
                <h4 class="panel-title">CONSENT</h4>


              </div>
              <div class="panel-body">
                <form role="form" class="form-horizontal group-border stripped" id="validate" novalidate="novalidate">
                  <div class="form-group">
                    <label class="col-xs-12 control-label">By submitting this form, you agree to the following: </label>

                    <div class="col-xs-12 pt0 pb0">
                      <ul>
                        <li>The terms of the Arbor Gentry, LLC Non-Disclosure Agreement (NDA):
                          <a href="/nda.pdf" target="_blank" class="btn btn-agreement">NON-DISCLOSURE
                            AGREEMENT</a></li>
                        <li>If you intend to purchase merchandise for resale, and wish to waive sales tax on your
                          qualifying orders, please be advised that we will do so only upon request, and that tax
                          documentation is subject to review, validation and approval at the sole discretion of
                          Arbor Gentry and in accordance with state, local and federal guidelines.
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-12 agree_checkbox">
                      <div class="checkbox-custom">
                        <input type="checkbox" value="option" id="agree checkbox_agree" name="agree">
                        <label for="agree">I agree to the terms, conditions, and agreements outlined above.</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 m-b-lg form_container">
            <%= f.submit "SUBMIT", :class => "btn-submit-app", :id => "submit_form" %>
          </div>
        </div>
  <% end %>
  </div>
</div>